<html>
    <head>
        <!-- Load plotly.js into the DOM -->
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        
    </head>

    <body>
        <h1>Prueba de grafica plotly</h1>
      <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
      <script>
        let eje_x = {{columnas}}
        let filas = {{rows}}
        let data = []
        for(let x = 0; x < filas.length; x++){
            let nuevo_trace = {
                x: eje_x,
                y: filas[x],
                mode: 'lines+markers',
                type: 'scatter'
            }
        } 

        var datos_bd = {{ res_1 }}
        console.log(datos_bd)
        var trace1 = {
x: datos_bd,
y: [10, 15, 13, 17],
mode: 'markers',
type: 'scatter'
};

var trace2 = {
x: [2, 3, 4, 5],
y: [16, 5, 11, 9],
name: "Nombre mio del trace 2",
mode: 'lines',
type: 'scatter'
};

var trace3 = {
x: [1, 2, 3, 4],
y: [12, 9, 15, 12],
mode: 'lines+markers',
type: 'scatter'
};

var data = [trace1, trace2, trace3];

Plotly.newPlot('myDiv', data);
    </script>
    </body>
</html>