<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <title>Proyecto Base de Datos 2</title>
    </head>
    <body>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Usuario 1</label>
              <input id = "user" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">Favor ingresar su usuario de ingreso</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input id="password" type="password" class="form-control"  placeholder="Password">
            </div>
            <button  type="submit" id="btn" class="btn btn-primary" >Log in</button>
          </form>
    </body>
    <script>
        function logIn(){
            
            
            if( usuario === "admin" && password === "admin"){
                console.log(usuario + " " + password)
                location.href = "http://localhost:5000/datos"
            }else{
                alert("Datos incorrectos")
            }
            
        }
    </script>
    <script type="text/javascript">
        document.getElementById("btn").onclick = function () {
            var usuario  = document.getElementById("user").value;
            var password = document.getElementById("password").value;
            if( usuario === "admin" && password === "admin"){
                console.log(usuario + " " + password)
                $('form').attr('action','http://localhost:5000/datos');
            }else{
                alert("Datos incorrectos")
            }
            
        };
    </script>
    
</html>