<!------------------------ PAGINA OFICIAL PROYECTO BASE DE DATOS 2 --------------------------->
<html>
    <head>
        <title>Proyecto Base de Datos 2 </title>
    </head>
    <body>
        <h1>Proyecto Base de Datos 2</h1>
        <h2> Tabla Ranking Bancario </h2>
        <table>
            <tr>
                {%  for i in range(len(columnas))%}
                    <th>{{columnas[i]}}</th>
                {% endfor %}
            </tr>
            {% for r in rows %}
            <tr>
                {% for r in range(len(rows)) %}
                    
              <td>{{ r[0] }}</td>
              <td>{{ r[1] }}</td> 
              <td>{{ r[2] }}</td>
              <td>{{ r[3] }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <br>
        <h1>Grafica Polinomial Ranking Bancario</h1>
    </body>
</html>